<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="shipping-service"/>
    <springProperty scope="context" name="LOKI_URL" source="loki.url" defaultValue="http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","level":"%level","service":"${APP_NAME}","correlationId":"%X{correlationId}","thread":"%thread","logger":"%logger{36}","message":"%replace(%msg){'&quot;','\\&quot;'}"}%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=amazon,service=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","level":"%level","service":"${APP_NAME}","correlationId":"%X{correlationId}","thread":"%thread","logger":"%logger{36}","message":"%replace(%msg){'&quot;','\\&quot;'}"}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>
